a:hover{
    text-decoration:none;
}
.section{
    padding-top: 70px;
    padding-bottom: 70px;
}
.section h2.section-head{
   color: #000;
   text-align: center;
   margin-bottom: 40px;
}
.section h2.section-head:after{
  background: orangered;
  content: "";
  display: block;
  height: 3px;
  width: 100px;
  margin: 20px auto;
}
#header{
    color: #fff;
    background: orangered;
}
#logo{
    margin-top: 7px;
    font-size: 2rem;
}
#menu{
    list-style: none;
    margin: 0;
    padding: 0;

}
#menu li{
    display: inline-block;
    
}
#menu li a{
 display: block;
 color: #fff;
 padding: 15px 10px;   
}
#menu li a:hover{
  background: darkorange;   
}
.banner{
    background: url("./img/alvin-engler-bIhpiQA009k-unsplash.jpg") no-repeat 0 0;
    background-size: cover;
}
.banner-title{
    padding-top: 2rem;
}
.banner-title h1{
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 10px;
    margin: 0;
}
.banner-title p.lead{
    color: #fff;
    background: rgba(231, 76, 60, 0.7);
    padding: 10px;

}
.service-box{
    text-align: center;
}
.service-box i.fa{
    color: orangered;
    font-size: 70px;
    margin-bottom: 15px;
}
#testimonials{
    color: #fff;
    background: url("./img/arlington-research-nFLmPAf9dVc-unsplash.jpg") no-repeat 0 0;
    background-size: cover;
    padding: 50px 0;
    position: relative;
    height: 400px;
}  
img{
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
#testimonials:before{
   background: rgba(50, 40, 40, 0.7);
   content: "";
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
}